* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
}

.nav-logo {
  height: 50px;
  width: 100px;
}

.logo{
  background-image: url("﻿../images/logo.png");
  background-size: scale-down;
  height: 50px;
  width: 100%;
}

.border {
  border: 1.25px solid transparent;
}

.border:hover {
  border: 1.25px solid white;
}

/** box 2 **/
.name-first {
  color: #cccccc;
  font-size: 1rem;
}

.name-second {
  font-size: 0.5rem;
}
